@import "mixins.scss";
@import "nullstyle.scss";
@import "var.scss";

:global{
	html, body{
		height: 100vh;
		min-width: $MinWidth;
		max-width: $MaxWidth;
		font-family: $MainFont;
		background-color: $black;
		color: $mainTextColor;
	}
}

.container {
	margin: 0 auto;
	@include adaptiv-value("padding-left", $MaxPadding, $MinPadding, 0);
	@include adaptiv-value("padding-right", $MaxPadding, $MinPadding, 0);
}