@import "mixins.scss";
@import "nullstyle.scss";
@import "var.scss";

:global{
	html, body{
		min-width: $MinWidth;
		font-family: $MainFont;
		background-color: $black;
		color: $mainTextColor;
	}
}

