@import "./mixins.scss";
@import "./var.scss";

.pages_title{
	@include adaptiv-value('font-size', 38, 20, 0);
	color: $white;
	line-height: 130%;

	margin-bottom: 3vh;
}

.container {
	margin: 0 auto;
	@include adaptiv-value("padding-left", $MaxPadding, $MinPadding, 0);
	@include adaptiv-value("padding-right", $MaxPadding, $MinPadding, 0);
}