@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

//FONTS
$MainFont: 'Comfortaa', sans-serif;

//SIZES
$MaxWidth: 1920px;
$MinWidth: 320px;
$MinPadding: 8;
$MaxPadding: 100;

// COLORS
$mainTextColor: #76D1A9;
$seceondTextColor: #A3D0BC;

$white: #ffffff;
$black: #000;

$IconsColor: #76D1A9;

//WEIGHTS
$GreetingTitleWeight: 700;
$PagesWeight: 700;
$ThemeHeadersWeight: 500;
$ButtonsWeight: 500;

//BORDERS
$ButtonsBorder: 3px;
$DialogBorders: 1px;