@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

//FONTS
$MainFont: 'Comfortaa', sans-serif;

//SIZES
$MinPadding: 25;
$MaxPadding: 100;

// COLORS
$mainTextColor: #76D1A9;
$seceondTextColor: #84d2af;

$white: #ffffff;
$black: #000;

$iconsColor: #76D1A9;

$darkGreen:#0D201A;

//WEIGHTS
$GreetingTitleWeight: 700;
$PagesWeight: 700;
$ThemeHeadersWeight: 500;
$ButtonsWeight: 500;

//BORDERS
$ButtonsBorder: 3px;
$DialogBorders: 1px;